*{
    font-family: 'Bebas Neue', sans-serif; 
}
body{
    background-color: #f3f5fc ;
} 
h1{ 
color: #052051  ; 
font-size: 60px; 
margin-top: 0px; 
}  
p{
color: #ADB5BD; 
margin-top: 100px; 
margin-left: 550px;
}
textarea{
    background-color: transparent;
    border: none;  
    width: 560px; 
    height: 600px; 
    font-size: 18px; 
    margin-left: 250px; 
    outline: 0;   

    overflow-y: auto;
} 
::placeholder{
    color: #0D324D; 
    font-size: 16px; 
} 
button{
    border-radius: 15px; 
    width: 150px;
    height: 40px; 
}
.resposta{
    width: 400px;
    height: 620px; 
    background-color: white; 
    border-radius: 20px; 
    margin-left: 200px;

} 
.menu{
    display: flex;
} 
h2{
    margin-left: 150px; 
    color:#757FB2 ;
} 
p1{
    margin-left: 200px; 
    color: white;
} 
.b1{
    background-color: #0A3871;
    border: none;
    color: white; 
    font-size: 20px; 
    margin-left: 500px ;
}
.b2{
    background-color: transparent; 
    border-color: #0A3871; 
    color: #0A3871; 
    font-size: 20px;
}
